.website-header {
    height: $website-header-height;

    display: flex;

    flex-flow: row wrap;

    justify-content: space-between;
    align-items: center;
    
    @include from-small-mobile-and-less {
        justify-content: center;
        align-content: center;

        gap: 1rem 3rem;
    }
    
    &--photograph-page {
        @include for-mobile-in-medium-landscape-orientation-500px-599px {
            height: $website-header--photograph-page-height;
            
            justify-content: center;
        }
    }

    &__heading {
        margin-right: $main-wrapper-sides-margin;

        
        @include from-tablette-and-less {
            margin-right: $main-wrapper-sides-margin-tablette;

            font-size: $first-heading-tablette-font-size;
        }

        @include for-mobile-in-medium-landscape-orientation-500px-599px {
            margin-right: $main-wrapper-sides-margin-mobile-landscape-orientation;

            font-size: $first-heading-mobile-landscape-orientation-font-size;
        }

        @include from-large-mobile-and-less {
            margin-right: $main-wrapper-sides-margin-lg-mobile;

            font-size: $first-heading-md-mobile-font-size;
        }

        @include from-medium-mobile-and-less {
            margin-right: $main-wrapper-sides-margin-md-mobile;
        }

        @include from-small-mobile-and-less {
            margin: initial;
        }
    }
}

.website-header-navigation-section {
    margin-left: $main-wrapper-sides-margin;

    @include from-tablette-and-less {
        margin-left: $main-wrapper-sides-margin-tablette;
    }

    @include for-mobile-in-medium-landscape-orientation-500px-599px {
        margin-left: $main-wrapper-sides-margin-mobile-landscape-orientation;
    }

    @include from-large-mobile-and-less {
        margin-left: $main-wrapper-sides-margin-lg-mobile;
    }

    @include from-medium-mobile-and-less {
        margin-left: $main-wrapper-sides-margin-md-mobile;
    }

    @include from-small-mobile-and-less {
        margin: initial;
    }
    
    &--photograph-page {
        @include for-mobile-in-medium-landscape-orientation-500px-599px {
            margin: initial;
        }
    }
}