.header {
    display: flex;
    flex-direction: row;

    justify-content: space-between;
    align-items: center;

    &__heading {
        @include set-margin($header__heading-margin);
    }
}

.photograph-header {
    background-color: #FAFAFA;
    height: 300px;
    margin: 0 100px;
}