.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    z-index: 2;
    background-color: rgba($color: $default-background-color, $alpha: 0.85);

    display: flex;
    justify-content: center;
    align-items: center;

    &--open {
        display: block;
    }

    &--close {
        display: none;
    }
}

.lightbox-modal-content {
    width: 1253px;
    height: 61.5rem;

    margin: $lightbox-modal-content-margin;

    padding: 1.1875rem;

    display: grid;
    grid-template-columns: $modal-grid-columns-1-and-3-length 8fr $modal-grid-columns-1-and-3-length;
    align-content: center;
    justify-items: center;
    align-items: center;

    @include from-computer-and-less {
        width: 90%;
        height: initial;
        grid-template-columns: $modal-grid-columns-1-and-3-length 5fr $modal-grid-columns-1-and-3-length;
    }

    @include from-tablette-and-less {
        width: 95%;
        
        margin: $lightbox-modal-content-margin-tablette;

        grid-template-columns: $modal-grid-columns-1-and-3-length 4fr $modal-grid-columns-1-and-3-length;
    }

    @include for-mobile-in-medium-landscape-orientation-500px-599px {
        margin: $lightbox-modal-content-margin-mobile-in-landscape-orientation;
    }

    .lightbox-navigation-button {
        grid-row: 1/3;

        padding: 0.3rem 0.8rem;

        font-size: $lightbox-navigation-button-font-size;
        color: $primary-color;

        border-radius: $small-beveled-border;

        &:hover {
            .lightbox-navigation-button__icon {
                @include fisheye-hover-and-focus-effect();
            }
        }

        &:focus {
            .lightbox-navigation-button__icon {
                @include fisheye-hover-and-focus-effect();
            }
        }

        
        &__icon {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    .previous-button {
        grid-column: 1;
    }

    .next-button {
        grid-column: 3;
    }

    .close-up-view {
        width: 100%;

        grid-column: 2;
        grid-row: 1/3;

        display: flex;
        flex-direction: column;
        align-items: flex-start;

        &__title {
            margin-top: 0.75rem;

            font-size: $photograph-profil__location-font-size;
            color: $primary-color;

            @include from-tablette-and-less {
                font-size: $photograph-profil__location-font-size-tablette;
            }
        }

        &__media {
            width: 100%;
            height: 56.25rem;

            object-fit: cover;

            border-radius: $small-beveled-border;

            @include for-device-with-a-height-of-700px-940px {
                height: 37rem;
            }

            @include for-device-with-a-height-of-500px-699px {
                height: 28rem;
            }
        }
    }
}

.hidden-content {
    display: none;
}

.contact-modal-content {
    border-radius: $small-beveled-border;
    background-color: #DB8876;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
    margin: auto;
    
    header {
        justify-content: space-between;
        width: 100%;

        img {
            cursor: pointer;
        }
    
        h2 {
            font-size: 64px;
            font-weight: normal;
            text-align: center;
        }
    }
}