.photographer-likes-and-price {
    @include set-size($photographer-likes-and-price-size);

    position: fixed;
    right: $photographer-likes-and-price-right-offset;
    bottom: 0;

    display: flex;
    align-items: center;

    background-color: $secondary-background-color;

    border-radius: $small-beveled-border;
    
    z-index: 2;

    @include from-computer-and-less {
        @include set-size($photographer-likes-and-price-size-computer);
    }

    p {
        width: 100%;

        display: flex;
        justify-content: space-around;
        align-items: center;

        font-size: $photograph-profil__location-font-size;

        color: $default-text-color;

        @include from-computer-and-less {
            font-size: $photograph-profil__location-font-size-tablette;
        }
    }
}