.select-menu-section {
    position: relative;

    margin: $select-menu-section-margin;

    font-size: $select-menu-section-font-size;
    font-weight: bold;

    display: flex;
    justify-content: flex-start;
    align-items: center;

    @include from-tablette-and-less {
        margin: 1.2rem $main-wrapper-sides-margin-tablette 0;
        
        font-size: $select-menu-section-font-size-tablette;
    }
    
    @include for-mobile-in-medium-landscape-orientation-500px-599px() {
        margin: $select-menu-section-margin-sm-mobile;

        justify-content: center;
    }

    &__label {
        margin-right: 1rem;
        margin-bottom: 1rem;
    }
}