.contact-button {
    @include set-sizes($contact-button-sizes);
    padding: $contact-button-padding;
    
    font-size: $contact-button-font-size;

    order: 2;
    
    @include from-computer-and-less {
        margin: 0 auto;

        order: 3;
    }

    @include from-tablette-and-less {
        font-size: $contact-button-font-size-mobile;
    }

    @include for-mobile-in-large-landscape-orientation {
        @include set-sizes($contact-button-sizes-mobile);

        font-size: $contact-button-font-size-mobile;
    }
}