.button {
    @include set-size($buttons-size);
    padding: $buttons-padding;
    
    font-size: $contact-button-font-size;
}

.contact-button {
    order: 2;

    color:  white;
    background-color: $primary-color;
    
    @include from-computer-and-less {
        margin: 0 auto;

        order: 3;
    }

    @include from-tablette-and-less {
        font-size: $contact-button-font-size-mobile;
    }

    @include for-mobile-in-large-landscape-orientation {
        @include set-size($contact-button-size-mobile);

        font-size: $contact-button-font-size-mobile;
    }
}

.likes-button {
    display: flex;
    flex-direction: row;

    justify-content: center;
    align-items: center;

    background-color: initial;
    color: $primary-color;

    font-size: $photograph-profil__location-font-size;

    @include from-tablette-and-less {
        font-size: $photograph-profil__location-font-size-tablette;
    }

    &__icon {
        margin-left: 0.39875rem;
    }
}

.close-button {
    margin-top: 0.3rem;
    
    padding: 0.625rem;

    grid-column: 3;
    grid-row: 1;

    display: flex;
    justify-content: center;
    align-items: center;

    color: $primary-color;

    background-color: inherit;

    &__icon {
        width: $close-button-size;
        height: $close-button-size;

        @include from-tablette-and-less {
            width: 2.4375rem;
            height: 2.4375rem;
        }
    }
}