.button {
    @include set-size($buttons-size);
    padding: $buttons-padding;
    
    font-size: $contact-button-font-size;
}

.contact-button {
    order: 2;

    color:  white;
    background-color: $primary-color;
    
    @include from-computer-and-less {
        margin: 0 auto;

        order: 3;
    }

    @include from-tablette-and-less {
        font-size: $contact-button-font-size-mobile;
    }

    @include for-mobile-in-large-landscape-orientation {
        @include set-size($contact-button-size-mobile);

        font-size: $contact-button-font-size-mobile;
    }
}

.likes-button {
    display: flex;
    flex-direction: row;

    justify-content: center;
    align-items: center;

    background-color: initial;
    color: $primary-color;

    font-size: $photograph-profil__location-font-size;

    @include from-tablette-and-less {
        font-size: $photograph-profil__location-font-size-sm-mobile;
    }

    &__icon {
        margin-left: 0.39875rem;
    }
}

.close-button {
    width: auto;
    height: auto;

    padding: 10px;

    grid-column: 3;
    grid-row: 1;

    align-self: flex-start;

    font-size: 50px;

    color: $primary-color;

    background-color: inherit;
}