.user {
    width: $user-size;
    height: $user-size;
    
    object-fit: cover;

    background-color: $alternative-background-color;

    border-radius: $user-border-radius;

    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);

    @include from-tablette-and-less {
        width: $user-size-tablette;
        height: $user-size-tablette;
    }

    @include for-mobile-in-medium-landscape-orientation-500px-599px {
        width: $user-size-mobile-small-landscape-orientation;
        height: $user-size-mobile-small-landscape-orientation;
    }

    @include for-mobile-in-small-landscape-orientation {
        width: $user-size-mobile;
        height: $user-size-mobile;
    }
    
    &--photographer-banner-id-photo {
        order: 3;
    
        @include from-computer-and-less {
            order: 2;
        }

        @include for-mobile-in-large-landscape-orientation {
            margin-bottom: $user--photographer-banner-id-photo-margin-bottom;
            order: -1;
        }
    }
}