*,
*::before, 
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    max-width: $main-wrapper-width;
    margin: 0 auto;
    
    background-color: $default-background-color;
}

h1 {
    margin: 0;
}

li {
    list-style-type: none;
}

a {
    display: block;
}

button,
select {
    background-color: #901C1C;

    border: none;
    border-radius: $small-beveled-border;

    cursor: pointer;
}

a,
button {
    &:hover,
    &:focus {
        color: $default-text-color;
        background-color: $secondary-background-color;
    }
}