.photographer-section {
    margin: $photographer-section-margin;

    display: grid;
    grid-template-columns: $three-column;

    gap: $photographer-section-gutter;

    @include from-computer-and-less {
        margin: $photographer-section-margin;
        
        gap: $photographer-section-gutter-computer;
    }

    @include from-tablette-and-less {
        margin: $photographer-section-margin-tablette;
        
        grid-template-columns: $two-column;

        gap: $photographer-section-gutter-tablette;
    }

    @include for-mobile-in-medium-landscape-orientation {
        margin: $photographer-section-margin-small-landscape-orientation;

        gap: $photographer-section-gutter-mobile-sm-landscape-orientation;
    }

    @include for-mobile-in-small-landscape-orientation {
        margin: $photographer-section-margin-mobile;

        grid-template-columns: $one-column;
    }

    a {
        display: flex;
        flex-direction: column;
        
        justify-content: center;
        align-items: center;

        gap: $photographer-page-link-gutter;
    }
}

.thumb-photographer {
    display: flex;
    flex-direction: column;

    align-items: center;

    &__heading {
        @include from-tablette-and-less {
            font-size: $thumb-photographer__heading-font-size-tablette;
        }

        @include for-mobile-in-medium-landscape-orientation {
            font-size: $thumb-photographer__heading-font-size-sm-landscape-orientation-font-size;
        }

        @include for-mobile-in-small-landscape-orientation {
            font-size: $thumb-photographer__heading-font-size-mobile;
        }
    }
}

.thumb-photographer-datas {
    display: flex;
    flex-direction: column;

    justify-content: space-evenly;
    align-items: center;

    @include from-small-mobile-and-less {
        margin: initial;
    }

    &__location {
        font-size: 0.8125rem;
    
        color: $primary-color;

        margin-bottom: 0.1875rem;
    }

    &__tagline {
        font-size: 0.625rem;

        margin-bottom: 0.3rem;
    }

    &__price-per-day {
        font-weight: normal;

        font-size: 0.5625rem;

        color: $text-alternative-color;
    }
}