/* Breakpoints */

$breakpoints: (
    sm-mobile: 320px,
    md-mobile: 400px,
    lg-mobile: 480px, 
    mobile-small-landscape-orientation: 529px, 
    mobile-large-landscape-orientation: 599px,
    tablette: 992px,
    computer: 1200px,
    large-screen: 1440px
);

/* Selector sizes */