/* Null and zero value variables */

$zero-value: 0;

/* Colors variables */

$default-background-color: #fff;

$primary-color: #901C1C;
$primary-color-alternative: #D3573C;

$secondary-color: #D3573C;
$secondary-color-alternative-1: #525252;
$secondary-color-alternative-2: #FAFAFA;
$secondary-color-alternative-3: #901C1C;

/* Selector sizes */

$company-logo-height: 50px;

/* Margins variables */

$company-logo-margin-top: 42px;
$company-logo-margin-left: 100px;

$header__heading-margin-top: 44px;
$header__heading-margin-right: 100px;

/* Padding variables */

/* Transitions variables */

/* Animations variables */